/* .card {
    height: inherit;
} */

agm-map {
    height: 500px;
  }

agm-info-window{
    padding: 10px;
}

.listPage {
    padding-top: 7em;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-transition: background .3s linear;
    transition: background .3s linear;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#bd21307a),to(#66a6ffba));
    background-image: linear-gradient(to top,#bd21307a 0,#66a6ffba 100%);
}

.listPageContent{
    background: white;
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0,0,255,.1);
    display: grid;
    cursor: pointer;
    border-radius: 1.75rem;
    -webkit-animation: 1s ease-in-out slideup,1.5s ease-in-out fadein;
    animation: 1s ease-in-out slideup,1.5s ease-in-out fadein;
    color: #443282;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.nav-tabs .nav-item {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;
}

.title {
    padding-left: 1em;
}